{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<h3>store</h3>
<img src="{% static 'images/cart.png' %}">

    <h1>Welcome To Beauty Flowers Shop !</h1>
    <div class="main">

        {% for data in dataset %}.
        <div class="product">
            {% if data.image %}
            <img class="card-img" src="{{ data.image.url }}" alt="{{ data.alt }}" width=800 />
            {% endif %}
            <h3>{{ data.name }}</h3>
            <p>{{ data.price }} $</p>
            <button><a href="/{{data.id}}">More About Product</a></button>
        </div>

        {% if user.is_authenticated %}
        <button><a href="/{{data.id}}/update">Update</a></button>
        {% endif %}

        <hr />

        {% endfor %}
    </div>
