{% extends '../main.html' %}
{% load static %}
{% block content %}
<div class="main" id="display_product">

    <div class="image_product">
        {% if data.image %}
        <img class="card-img" src="{{ data.image.url }}" alt="{{ data.alt }}" width=800 />
        {% endif %}
    </div>

    <div class="possibilities">
        <div class="info">
            <!-- Specify fields to be displayed -->
            <h2>{{ data.name }}</h2>
            <h4>{{ data.description }}</h4><br /><br />
            <p>{{ data.price }} $</p>
            <p> You have bought some {{data.quantity}} !</p>

            <form method="POST" enctype="multipart/form-data">
                <!-- Security token by Django -->
                {% csrf_token %}
                <input type="number" name="quantity" />
         
                <input class="btn btn-outline-secondary add-btn" type="submit" value="Buy">
            </form>

        </div>

        <div class="buttons">
            <a href="/" class="btn btn-outline-secondary add-btn">Back To The List</a>
        </div>

    </div>

</div>
{% endblock content %}